USE [TimeSheetManagementSystemDB_V4]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertHHMMToMinutes]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ConvertHHMMToMinutes] (@inHHMM varchar(10))
  RETURNS INT
AS BEGIN
  DECLARE @calculatedMinutes INT
  DECLARE @time DATETIME = @inHHMM
  SET @calculatedMinutes =  ((DATEPART(HOUR, @time)*60) + (DATEPART(MINUTE, @time)))
  RETURN @calculatedMinutes
END


;



GO
/****** Object:  UserDefinedFunction [dbo].[ConvertMinutesToHHMM]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ConvertMinutesToHHMM]
(
    @inMinutes int 
)
RETURNS nvarchar(30)

AS
BEGIN
declare @hhmm nvarchar(20)

SET @hhmm = 
    CASE WHEN @inMinutes >= 60 THEN
        (SELECT FORMAT((@inMinutes / 60) , '00')+  ':'  + 
                CASE WHEN (@inMinutes % 60) > 0 THEN
                    FORMAT(@inMinutes % 60,'00') 
                ELSE
                    '00'
                END)
    ELSE 
        FORMAT(@inMinutes % 60,'00' )
    END

return @hhmm
END


;



GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountDetail]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetail](
	[AccountDetailId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerAccountId] [int] NOT NULL,
	[DayOfWeekNumber] [int] NOT NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NULL,
	[StartTimeInMinutes] [int] NOT NULL,
	[EndTimeInMinutes] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL DEFAULT ((1)),
 CONSTRAINT [PrimaryKey_AccountDetailId] PRIMARY KEY CLUSTERED 
(
	[AccountDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountRate]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRate](
	[AccountRateId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerAccountId] [int] NOT NULL,
	[RatePerHour] [decimal](6, 2) NOT NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NULL,
 CONSTRAINT [PrimaryKey_AccountRateId] PRIMARY KEY CLUSTERED 
(
	[AccountRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerAccount]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerAccount](
	[CustomerAccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](100) NOT NULL,
	[Comments] [nvarchar](4000) NULL,
	[IsVisible] [bit] NOT NULL DEFAULT ((1)),
	[CreatedById] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[UpdatedById] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PrimaryKey_CustomerAccountId] PRIMARY KEY CLUSTERED 
(
	[CustomerAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InstructorAccount]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorAccount](
	[InstructorAccountId] [int] IDENTITY(1,1) NOT NULL,
	[InstructorId] [int] NOT NULL,
	[WageRate] [decimal](5, 2) NOT NULL,
	[Comments] [nvarchar](4000) NULL,
	[CustomerAccountId] [int] NOT NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NULL,
	[IsCurrent] [bit] NOT NULL DEFAULT ((1)),
 CONSTRAINT [PrimaryKey_InstructorAccounttId] PRIMARY KEY CLUSTERED 
(
	[InstructorAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SessionSynopsis]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SessionSynopsis](
	[SessionSynopsisId] [int] IDENTITY(1,1) NOT NULL,
	[SessionSynopsisName] [varchar](100) NOT NULL,
	[CreatedById] [int] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PrimaryKey_SessionSynopsisId] PRIMARY KEY CLUSTERED 
(
	[SessionSynopsisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[TimeSheetId] [int] IDENTITY(1,1) NOT NULL,
	[InstructorId] [int] NOT NULL,
	[ApprovedById] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF__TimeSheet__Creat__32E0915F]  DEFAULT (getdate()),
	[CreatedById] [int] NOT NULL,
	[VerifiedAndSubmittedAt] [datetime2](7) NULL,
	[MonthAndYear] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF__TimeSheet__Updat__33D4B598]  DEFAULT (getdate()),
	[UpdatedById] [int] NOT NULL,
 CONSTRAINT [PrimaryKey_TimeSheetId] PRIMARY KEY CLUSTERED 
(
	[TimeSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeSheetDetail]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetDetail](
	[TimeSheetDetailId] [int] IDENTITY(1,1) NOT NULL,
	[TimeSheetId] [int] NOT NULL,
	[DateOfLesson] [datetime2](7) NOT NULL,
	[WageRatePerHour] [decimal](6, 2) NOT NULL,
	[RatePerHour] [decimal](6, 2) NOT NULL,
	[IsReplacementInstructor] [bit] NOT NULL CONSTRAINT [DF__TimeSheet__IsRep__45F365D3]  DEFAULT ((0)),
	[OfficialTimeInMinutes] [int] NOT NULL,
	[OfficialTimeOutMinutes] [int] NOT NULL,
	[SessionSynopsisNames] [varchar](300) NOT NULL,
	[TimeInInMinutes] [int] NULL,
	[TimeOutInMinutes] [int] NULL,
	[AccountName] [varchar](100) NULL,
	[CreatedByName] [varchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedByName] [varchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PrimaryKey_TimeSheetDetailId] PRIMARY KEY CLUSTERED 
(
	[TimeSheetDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSheetDetailSignature]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetDetailSignature](
	[TimeSheetDetailSignatureId] [int] IDENTITY(1,1) NOT NULL,
	[Signature] [varbinary](max) NULL,
	[TimeSheetIDetailId] [int] NOT NULL,
 CONSTRAINT [PrimaryKey_TimeSheetSignatureId] PRIMARY KEY CLUSTERED 
(
	[TimeSheetDetailSignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserInfoId] [int] IDENTITY(1,1) NOT NULL,
	[LoginUserName] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL DEFAULT ((1)),
 CONSTRAINT [PrimaryKey_UserInfoId] PRIMARY KEY CLUSTERED 
(
	[UserInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20170517154103_setupdb', N'1.1.1')
SET IDENTITY_INSERT [dbo].[AccountDetail] ON 

INSERT [dbo].[AccountDetail] ([AccountDetailId], [CustomerAccountId], [DayOfWeekNumber], [EffectiveStartDate], [EffectiveEndDate], [StartTimeInMinutes], [EndTimeInMinutes], [IsVisible]) VALUES (3, 6, 1, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), NULL, 600, 720, 1)
INSERT [dbo].[AccountDetail] ([AccountDetailId], [CustomerAccountId], [DayOfWeekNumber], [EffectiveStartDate], [EffectiveEndDate], [StartTimeInMinutes], [EndTimeInMinutes], [IsVisible]) VALUES (5, 6, 4, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), NULL, 540, 720, 1)
INSERT [dbo].[AccountDetail] ([AccountDetailId], [CustomerAccountId], [DayOfWeekNumber], [EffectiveStartDate], [EffectiveEndDate], [StartTimeInMinutes], [EndTimeInMinutes], [IsVisible]) VALUES (6, 7, 2, CAST(N'2017-05-01 00:00:00.0000000' AS DateTime2), NULL, 720, 840, 1)
SET IDENTITY_INSERT [dbo].[AccountDetail] OFF
SET IDENTITY_INSERT [dbo].[AccountRate] ON 

INSERT [dbo].[AccountRate] ([AccountRateId], [CustomerAccountId], [RatePerHour], [EffectiveStartDate], [EffectiveEndDate]) VALUES (1, 6, CAST(150.00 AS Decimal(6, 2)), CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[AccountRate] ([AccountRateId], [CustomerAccountId], [RatePerHour], [EffectiveStartDate], [EffectiveEndDate]) VALUES (2, 6, CAST(200.00 AS Decimal(6, 2)), CAST(N'2018-03-01 00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[AccountRate] ([AccountRateId], [CustomerAccountId], [RatePerHour], [EffectiveStartDate], [EffectiveEndDate]) VALUES (3, 5, CAST(100.00 AS Decimal(6, 2)), CAST(N'2016-03-01 00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AccountRate] OFF
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'10724595-07d2-43c8-acc7-586a50ab09b0', N'4a28f3c5-c1cb-481b-989a-d26f9636e90d', N'ADMIN', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'44ca8293-792a-4aeb-a38c-7ef404fcf779', N'd76328f8-84bf-4b27-a8e0-685d0860ef8d', N'INSTRUCTOR', N'INSTRUCTOR')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0dd7c260-ad56-42ef-a07b-d0b8b4777937', N'44ca8293-792a-4aeb-a38c-7ef404fcf779')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'225a21dc-b0ed-41b1-8804-a006c4ed7f47', N'44ca8293-792a-4aeb-a38c-7ef404fcf779')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'27da764b-104a-4a74-be9a-e05a47f2d57b', N'44ca8293-792a-4aeb-a38c-7ef404fcf779')
SET IDENTITY_INSERT [dbo].[CustomerAccount] ON 

INSERT [dbo].[CustomerAccount] ([CustomerAccountId], [AccountName], [Comments], [IsVisible], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (5, N'SCHOOL A', N'Weekly one lesson (Saturday) on dancing foundations (3 hours each week).', 1, 1, CAST(N'2017-01-01 15:40:15.5030000' AS DateTime2), 1, CAST(N'2017-05-22 21:35:52.8339633' AS DateTime2))
INSERT [dbo].[CustomerAccount] ([CustomerAccountId], [AccountName], [Comments], [IsVisible], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (6, N'SCHOOL B', N'Weekly two lessons (total 5 hours) dancing gym sessions', 1, 2, CAST(N'2017-03-20 15:40:15.5030000' AS DateTime2), 1, CAST(N'2017-05-22 20:44:30.9267293' AS DateTime2))
INSERT [dbo].[CustomerAccount] ([CustomerAccountId], [AccountName], [Comments], [IsVisible], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (7, N'SCHOOL C', N'Weekly two lessons (total 4 hours) dancing lessons', 1, 2, CAST(N'2017-04-14 15:40:15.5030000' AS DateTime2), 2, CAST(N'2017-05-28 12:55:44.2593827' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CustomerAccount] OFF
SET IDENTITY_INSERT [dbo].[InstructorAccount] ON 

INSERT [dbo].[InstructorAccount] ([InstructorAccountId], [InstructorId], [WageRate], [Comments], [CustomerAccountId], [EffectiveStartDate], [EffectiveEndDate]) VALUES (4, 3, CAST(80.00 AS Decimal(5, 2)), NULL, 6, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[InstructorAccount] ([InstructorAccountId], [InstructorId], [WageRate], [Comments], [CustomerAccountId], [EffectiveStartDate], [EffectiveEndDate]) VALUES (6, 4, CAST(70.00 AS Decimal(5, 2)), NULL, 5, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[InstructorAccount] ([InstructorAccountId], [InstructorId], [WageRate], [Comments], [CustomerAccountId], [EffectiveStartDate], [EffectiveEndDate]) VALUES (7, 6, CAST(75.00 AS Decimal(5, 2)), NULL, 7, CAST(N'2017-05-01 00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[InstructorAccount] OFF
SET IDENTITY_INSERT [dbo].[SessionSynopsis] ON 

INSERT [dbo].[SessionSynopsis] ([SessionSynopsisId], [SessionSynopsisName], [CreatedById], [UpdatedById], [IsVisible]) VALUES (1, N'Training', 2, 2, 1)
INSERT [dbo].[SessionSynopsis] ([SessionSynopsisId], [SessionSynopsisName], [CreatedById], [UpdatedById], [IsVisible]) VALUES (2, N'Training & Rehearsal', 2, 2, 1)
INSERT [dbo].[SessionSynopsis] ([SessionSynopsisId], [SessionSynopsisName], [CreatedById], [UpdatedById], [IsVisible]) VALUES (3, N'Rehearsal', 2, 2, 1)
SET IDENTITY_INSERT [dbo].[SessionSynopsis] OFF
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([TimeSheetId], [InstructorId], [ApprovedById], [ApprovedAt], [CreatedAt], [CreatedById], [VerifiedAndSubmittedAt], [MonthAndYear], [UpdatedAt], [UpdatedById]) VALUES (1, 3, NULL, NULL, CAST(N'2017-06-04 00:00:00.0000000' AS DateTime2), 3, NULL, CAST(N'2017-06-01 00:00:00.0000000' AS DateTime2), CAST(N'2017-06-04 00:00:00.0000000' AS DateTime2), 3)
INSERT [dbo].[TimeSheet] ([TimeSheetId], [InstructorId], [ApprovedById], [ApprovedAt], [CreatedAt], [CreatedById], [VerifiedAndSubmittedAt], [MonthAndYear], [UpdatedAt], [UpdatedById]) VALUES (3, 4, 2, CAST(N'2017-05-28 21:48:35.8643088' AS DateTime2), CAST(N'2017-03-04 22:15:00.0000000' AS DateTime2), 4, NULL, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-04 22:15:00.0000000' AS DateTime2), 4)
INSERT [dbo].[TimeSheet] ([TimeSheetId], [InstructorId], [ApprovedById], [ApprovedAt], [CreatedAt], [CreatedById], [VerifiedAndSubmittedAt], [MonthAndYear], [UpdatedAt], [UpdatedById]) VALUES (4, 4, NULL, NULL, CAST(N'2017-04-01 22:15:00.0000000' AS DateTime2), 4, NULL, CAST(N'2017-04-01 00:00:00.0000000' AS DateTime2), CAST(N'2017-04-01 22:15:00.0000000' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
SET IDENTITY_INSERT [dbo].[TimeSheetDetail] ON 

SET IDENTITY_INSERT [dbo].[TimeSheetDetail] OFF


SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserInfoId], [LoginUserName], [Email], [FullName], [IsActive]) VALUES (1, N'88881', N'KENNY@FAIRYSCHOOL.COM', N'KENNY', 1)
INSERT [dbo].[UserInfo] ([UserInfoId], [LoginUserName], [Email], [FullName], [IsActive]) VALUES (2, N'88882', N'JULIET@FAIRYSCHOOL.COM', N'JULIET', 1)
INSERT [dbo].[UserInfo] ([UserInfoId], [LoginUserName], [Email], [FullName], [IsActive]) VALUES (3, N'88883', N'RANDY@HOTINSTRUCTOR.COM', N'RANDY', 1)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
ALTER TABLE [dbo].[AccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_AccountDetail_CustomerAccount_CustomerAccountId] FOREIGN KEY([CustomerAccountId])
REFERENCES [dbo].[CustomerAccount] ([CustomerAccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountDetail] CHECK CONSTRAINT [FK_AccountDetail_CustomerAccount_CustomerAccountId]
GO
ALTER TABLE [dbo].[AccountRate]  WITH CHECK ADD  CONSTRAINT [FK_AccountRate_CustomerAccount_CustomerAccountId] FOREIGN KEY([CustomerAccountId])
REFERENCES [dbo].[CustomerAccount] ([CustomerAccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountRate] CHECK CONSTRAINT [FK_AccountRate_CustomerAccount_CustomerAccountId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CustomerAccount]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAccount_UserInfo_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[CustomerAccount] CHECK CONSTRAINT [FK_CustomerAccount_UserInfo_CreatedById]
GO
ALTER TABLE [dbo].[CustomerAccount]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAccount_UserInfo_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[CustomerAccount] CHECK CONSTRAINT [FK_CustomerAccount_UserInfo_UpdatedById]
GO
ALTER TABLE [dbo].[InstructorAccount]  WITH CHECK ADD  CONSTRAINT [FK_InstructorAccount_CustomerAccount_CustomerAccountId] FOREIGN KEY([CustomerAccountId])
REFERENCES [dbo].[CustomerAccount] ([CustomerAccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstructorAccount] CHECK CONSTRAINT [FK_InstructorAccount_CustomerAccount_CustomerAccountId]
GO
ALTER TABLE [dbo].[InstructorAccount]  WITH CHECK ADD  CONSTRAINT [FK_InstructorAccount_UserInfo_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstructorAccount] CHECK CONSTRAINT [FK_InstructorAccount_UserInfo_InstructorId]
GO
ALTER TABLE [dbo].[SessionSynopsis]  WITH CHECK ADD  CONSTRAINT [FK_SessionSynopsis_UserInfo_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[SessionSynopsis] CHECK CONSTRAINT [FK_SessionSynopsis_UserInfo_CreatedById]
GO
ALTER TABLE [dbo].[SessionSynopsis]  WITH CHECK ADD  CONSTRAINT [FK_SessionSynopsis_UserInfo_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[SessionSynopsis] CHECK CONSTRAINT [FK_SessionSynopsis_UserInfo_UpdatedById]
GO
ALTER TABLE [dbo].[TimeSheetDetail]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheetDetail_TimeSheet_TimeSheetId] FOREIGN KEY([TimeSheetId])
REFERENCES [dbo].[TimeSheet] ([TimeSheetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheetDetail] CHECK CONSTRAINT [FK_TimeSheetDetail_TimeSheet_TimeSheetId]
GO
ALTER TABLE [dbo].[TimeSheetDetailSignature]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheetDetailSignature_TimeSheetDetail_TimeSheetIDetailId] FOREIGN KEY([TimeSheetIDetailId])
REFERENCES [dbo].[TimeSheetDetail] ([TimeSheetDetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheetDetailSignature] CHECK CONSTRAINT [FK_TimeSheetDetailSignature_TimeSheetDetail_TimeSheetIDetailId]
GO
/****** Object:  Trigger [dbo].[AspNetUsers_Insert]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[AspNetUsers_Insert]
       ON [dbo].[AspNetUsers]
       AFTER INSERT
AS
BEGIN
       DECLARE @loginUserName varchar(10)
	   DECLARE @fullName varchar(100)
	   DECLARE @email varchar(50)
       SELECT @loginUserName = UserName FROM inserted
	   SELECT @email = Email FROM inserted
	   SELECT @fullName = FullName FROM inserted
       IF (EXISTS(SELECT LoginUserName FROM UserInfo
                            WHERE LoginUserName = @loginUserName))
              BEGIN
                     UPDATE UserInfo
                     SET UserInfo.FullName = inserted.FullName
					 FROM inserted
                     WHERE LoginUserName = @loginUserName
              END

       IF (NOT EXISTS(SELECT loginUserName FROM UserInfo
                            WHERE LoginUserName = @loginUserName))
              BEGIN
                     INSERT INTO UserInfo
                     (FullName, LoginUserName, Email)
					 
                     VALUES (@fullName, @loginUserName, @email)
              END
END







GO
/****** Object:  Trigger [dbo].[AspNetUsers_Update]    Script Date: 9/6/2017 2:26:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[AspNetUsers_Update]
       ON [dbo].[AspNetUsers]
       AFTER UPDATE
AS
BEGIN
       DECLARE @loginUserName varchar(10)
	   DECLARE @fullName varchar(100)
	   DECLARE @email varchar(50)
       SELECT @loginUserName = UserName FROM inserted
	   SELECT @email = Email FROM inserted
	   SELECT @fullName = FullName FROM inserted
       IF (EXISTS(SELECT LoginUserName FROM UserInfo
                            WHERE LoginUserName = @loginUserName))
              BEGIN
                     UPDATE UserInfo
                     SET UserInfo.FullName = inserted.FullName,
					  UserInfo.Email = inserted.Email,
					  UserInfo.LoginUserName = inserted.UserName
					 FROM inserted
                     WHERE LoginUserName = @loginUserName
              END

       IF (NOT EXISTS(SELECT LoginUserName FROM UserInfo
                            WHERE LoginUserName = @loginUserName))
              BEGIN
                     INSERT INTO UserInfo
                     (FullName, LoginUserName, Email)
					 
                     VALUES (@fullName, @loginUserName, @email)
              END
END

GO
